* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'nav';
    src: url(fonts/Corporate-Logo-Rounded.ttf);
}

wrappeer {
    width: 1913px;
    height: auto;
    overflow: hidden;
}

#top {
    width: 100%;
    background: #ffffff;   
    overflow: hidden;
}

/*ヘッダー*/
.head {
    width: 100%;
    height: 50px;
    background: #ffffff;
}

.head img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

/*ナビゲーション */
nav {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}

nav li {
    list-style-type: none;
    float: left;
    font-family: nav;
}

nav a {
    font-size: 20px;
    display: block;
    text-decoration: none;
    margin: 15px 25px 0px;
    color: #333333;
}

nav a:hover {
    color: #FF5F85;
    transition: 0.5s;
}

/*top背景*/
.main-visual {
    position: relative;
    width: 100%;
    height: 750px;
    background: #fff url(img/top_back.png);
    background-size: cover;
    overflow: hidden;
}

/*top画像*/
.top-logo {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.top-logo img {
    width: 850px;
}

/*天使*/
.engel {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
}

.engel img {
    width: 1300px;
}

/*ふわふわアニメーション*/
.img_box {
    animation: img_box_9955 3s ease-in-out infinite;
    transform-origin: 50% 50%;
    margin: 1rem 0 !important;
}

@keyframes img_box_9955 {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(-10px)
    }

    100% {
        transform: translateY(0)
    }
}

/*切り替え波*/

#top .wave{
    position: absolute;
    bottom: -17%;
    left: 50%;
    transform: translateX(-50%);
}

/*Aboutエリア*/
#about {
    width: 100%;
    height: 1450px;
    background: #FFEC60;
    position: relative;
    overflow: hidden;
    }
.about-content{
    margin: 0 auto;
    width: 800px;
    text-align: center;
}
/*About*/
.about-content h5{
    position: relative;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 40px;
    font-weight: 600;
}
/*見出し装飾*/
.about-content h5:before {
  position: absolute;
  bottom: -10px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  border-radius: 3px;
  background: #000;
}
/*プロフィールタイトル*/
h1{
    position: relative;
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 800;
    font-size: 30px;
    padding: 5px;
}
/*プロフィール見出し装飾*/
h1:before {
  position: absolute;
  bottom: -10px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  border-radius: 3px;
  background: #000;
}
/*ぽんきちとは*/
.aboutbox01{
   padding: 2em 4em;
    margin: 5em 0;
    font-weight: bold;
    color: #000000;/*文字色*/
    background: #FFF;
    border: solid 3px #000000;/*線*/
    border-radius: 20px;/*角の丸み*/
}
.aboutbox01 h2{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 30px;
}
.aboutbox01 p{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 300;
    font-size: 23px;
}
/*画像*/
.prof-img{
    text-align: center;
    margin-top: 50px;
}
.prof-img img{
    width: 300px;    
}
/*プロフィールボックス*/
.aboutbox02{
  position: relative;
  display: inline-block;
  margin: 1em 0;
  padding: 30px 60px;
  color: #000;
  font-size: 16px;
  background: #FFF;
  border: solid 3px #000;
  box-sizing: border-box;
  border-radius: 20px;
}
/*吹き出しの三角部分*/
.aboutbox02:before {
  content: "";
  position: absolute;
  top: -24px;
  left: 50%;
  margin-left: -15px;
  border: 12px solid transparent;
  border-bottom: 12px solid #FFF;
  z-index: 2;
}
.aboutbox02:after {
  content: "";
  position: absolute;
  top: -30px;
  left: 50%;
  margin-left: -17px;
  border: 14px solid transparent;
  border-bottom: 14px solid #000;
  z-index: 1;
}
/*プロフィール文章*/
.aboutbox02 p{
    text-align: center;
    color: #000000;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 300;
    font-size: 25px;
}
/*切り替え波*/
#about .wave{
    position: absolute;
    bottom: -1%;
    left: 55%;
    transform: translateX(-50%);
}

/*voiceエリア*/
#voice {
    width: 100%;
    height: 1000px;
    background: #fef7a7;
   }
/*世の声ボックスエリア*/
.voice-box{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 80px;
    width: 980px;
}

/*ふせんの設定*/
/*
* {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
}
 
::-moz-selection {
 background: #C6FF91;
 text-shadow: none;
}
 
::selection {
 background: #C6FF91;
 text-shadow: none;
}
 
.clearfix:before,
.clearfix:after {
 content: " ";
 display: table;
}
 
.clearfix:after {
 clear: both;
}
 
.clearfix {
 *zoom: 1;
}
*/
 
/* Note styles */
.note-wrap {
/*  ふせんの大きさ  */
 width: 200px;
 min-height: 150px;
/*  内側の余白  */
 padding: 35px;
 margin: 0 22px 44px 22px;
 position: relative;
/*  黒枠  */
 border: solid 4px #000000;
 font-size: 24px;
 vertical-align: top;
 display: inline-block;
 font-family: Englebert, Arial;
 color: #4b453c;
 background: #fff;
 line-height: 34px;
 text-align: center;
 box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
/*マステ部分*/
.note-wrap:before {
 display: block;
 content: "";
 background: rgba(95, 228, 255, 0.8);
 width: 130px;
 height: 28px;
 box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
 border-radius: 6px/18px 0;
 position: absolute;
 top: -13px;
 left: 70px;
/*
    
 -webkit-transform: rotate(-2deg);
 -moz-transform: rotate(-2deg);
 -o-transform: rotate(-2deg);
 -ms-transform: rotate(-2deg);
 transform: rotate(-2deg);
*/
}
.note-yellow {
    font-family: 'Yusei Magic', sans-serif;
    
/*
 -webkit-transform: rotate(2deg);
 -moz-transform: rotate(2deg);
 -o-transform: rotate(2deg);
 -ms-transform: rotate(2deg);
 transform: rotate(2deg);
*/
}




