<!DOCTYPE html>
<html lang="ja">
     <head>
        <meta charset="UTF-8">
        <title>あざぎょう1000円ガチャ</title>
        <!--ビューポート-->
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="/azagyo-style.css">
        <!--  ファビコン  -->
        <link rel="shortcut icon" href="img02/azagyo-favicon.png">
        <!--  フォント  -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap" rel="stylesheet">
        <!--   TwitterOGP     -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="" />
        <meta name="twitter:url" content="https://test.ponkichi.info/azagyo" />
        <meta name="twitter:title" content="あざぎょう2000円ガチャ" />
        <meta name="twitter:description" content="麻布餃子のメニューから2000円以内でガチャを引けるサイト" />
        <meta name="twitter:image" content="https://test.ponkichi.info/azagyo/img02/azagyo-ogp.png" />
        <!--  OGP  -->
        <meta property="og:url" content="https://test.ponkichi.info/azagyo" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="あざぎょう2000円ガチャ" />
        <meta property="og:description" content="麻布餃子のメニューから2000円以内でガチャを引けるサイト" />
        <meta property="og:site_name" content="あざぎょう2000円ガチャ" />
        <meta property="og:image" content="https://test.ponkichi.info/azagyo/img02/azagyo-ogp.png" />
    </head>
    <body>
        <div class="main" style="height: auto">
            <div class="main-container" style="height: auto">
                <div class="heading">
                    <h1>あざぎょう</h1>
                    <h1>2000円ガチャ</h1>
                </div>
                <div class="result-container">
                    <div class="items">
                        <% if @menu[:ok] == 1 %>
                            <% for r in @menu[:result] do %>
                                <h2><%= r["name"].to_s %></h2>
                                <p><%= r["price"].to_s + "円" %></p>
                            <% end %>
                    </div>
                    <div class="summary">
                            <h3><%= "合計：" + @menu[:price].to_s + "円" %></h3>
                            <% else %>
                            <% end %>
                    </div>
                </div>
                <div class="btn-area">
                    <div class="btn">
                        <a href="/azagyo/result" class="btn btn--gatya btn--cubic">ガチャを回す</a>
                    </div>
                </div>
                <div class="footer">
                    <a href="https://azabu-gyoza-api.herokuapp.com/">麻布餃子API</a>
                </div>
            </div>
        </div>
    </body>
</html>