<!DOCTYPE html>
<html lang="ja">
     <head>
        <meta charset="UTF-8">
        <title>ぽんきちファンクラブ</title>
        <!--ビューポート-->
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="./shrine-style.css">
        <!--  ファビコン  -->
        <link rel="shortcut icon" href="img/pon_favi.PNG">
        <!--  フォント  -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500;700;800&family=Yusei+Magic&display=swap" rel="stylesheet">
        <!--   TwitterOGP     -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="" />
        <meta name="twitter:url" content="https://ponkichi.info/" />
        <meta name="twitter:title" content="ぽんきちわーるど" />
        <meta name="twitter:description" content="ミステリアスなキャラクター「ぽんきち」、あなたもきっと好きになる。ぽんきち公式サイト" />
        <meta name="twitter:image" content="https://ponkichi.info/img/site-img.PNG" />
        <!--  OGP  -->
        <meta property="og:url" content="ponkichi.info" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="ぽんきちわーるど" />
        <meta property="og:description" content="ミステリアスなキャラクター「ぽんきち」、あなたもきっと好きになる。ぽんきち公式サイト" />
        <meta property="og:site_name" content="ぽんきちわーるど" />
        <meta property="og:image" content="https://ponkichi.info/img/site-img.PNG" />
    </head>
    <body>
        ファンクラブ
        <% if !current_user.nil? %>
        こんにちは、<%= current_user.email %>さん
        <% end %>
    </body>
</html>