<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>ぽんきちわーるど</title>
    <!--ビューポート-->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="./style.css">
    <!--  ファビコン  -->
    <link rel="shortcut icon" href="img/pon_favi.PNG">
    <!--  フォント  -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500;700;800&family=Yusei+Magic&display=swap" rel="stylesheet">
    <!--   TwitterOGP     -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:url" content="https://ponkichi.info/" />
    <meta name="twitter:title" content="ぽんきちわーるど" />
    <meta name="twitter:description" content="ミステリアスなキャラクター「ぽんきち」、あなたもきっと好きになる。ぽんきち公式サイト" />
    <meta name="twitter:image" content="https://ponkichi.info/img/site-img.PNG" />
    <!--  OGP  -->
    <meta property="og:url" content="ponkichi.info" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="ぽんきちわーるど" />
    <meta property="og:description" content="ミステリアスなキャラクター「ぽんきち」、あなたもきっと好きになる。ぽんきち公式サイト" />
    <meta property="og:site_name" content="ぽんきちわーるど" />
    <meta property="og:image" content="https://ponkichi.info/img/site-img.PNG" />
    <!--  slickのCSS  -->
    <link rel="stylesheet" href="./slick.css">
    <link rel="stylesheet" href="./slick-theme.css">
    <!--  jQuery読み込み   -->
    <script type="text/javascript" src="./js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="./js/slick.min.js"></script>

</head>

<body>
    <div class="wrapper">
        <section id="top">
            <div class="head">
                <img src="img/navLogo.png" alt="">
                <nav>
                    <ul>
                        <li><a href="#about">About</a></li>
                        <li><a href="#voice">世の声</a></li>
                        <li><a href="#game">ゲーム</a></li>
                        <li><a href="#goods">グッズ</a></li>
                        <li><a href="#line">すたんぷ</a></li>
                        <li><a href="#maps">コンテンツ</a></li>
                    </ul>
                </nav>
            </div>
            <div class="main-visual">
                <div class="top-logo">
                    <img src="img/pon-top.png" alt="">
                </div>
                <div class="engel">
                    <img src="img/engel.PNG" class="img_box">
                </div>
                <div class="wave">
                    <img src="img/topwave.png" alt="">
                </div>
                <div class="fanclub-banner">
                    <a href="/fanclub"><img src="img/fanclub_banner.png" alt="ファンクラブページへ"></a>
                </div>
                <div class="shrine-banner">
                    <a href="/shrine"><img src="img/shrine_banner.png" alt="ぽんきち神社へ"></a>
                </div>
            </div>

        </section>
        <section id="about">
            <div class="about-content">
                <h5>About</h5>
                <div class="aboutbox01">
                    <h2>ぽんきちとは・・・</h2>
                    <p>「 ぽんきち 」とは、とある人物が小学生の頃思いついたキャラクターである。さらに中学2年生の頃、友人Aが「ぽんきち」と命名。そしてぽんきちに魅了された私が様々な方法で、友人だけでなく全国の人に広めようと活動している。ぽんきちに携わる主なメンバーの団体名が「モロヘイヤ」である。ぽんきちを広める活動に参加すれば、割と簡単に入ることができる。</p>
                </div>
                <h1>プロフィール</h1>
                <div class="prof-img">
                    <img src="img/profile.PNG" alt="">
                </div>
                <div class="aboutbox02">
                    <p>なまえ：ぽんきち<br>
                        誕生日：9月27日<br>
                        うまれたところ：れんらくちょう<br>
                        とくぎ：ゴルフ<br>
                        しゅみ：より目<br>
                        すきなもの：ラディッシュ（にんじんではない）<br>
                        チャームポイント：まゆげ</p>
                </div>
                <div class="wave"><img src="img/wave-about.png" alt=""></div>
            </div>
            <div class="clowd-left"><img src="img/clowd-l.PNG" alt=""></div>
            <div class="clowd-right"><img src="img/clowd-r.PNG" alt=""></div>
        </section>
        <section id="voice">
            <h1>世の声</h1>
            <div class="voice-box">
                <div class="note-blue">
                    <div class="note-text">
                        Q 絵本に出てくる<br>あのキャラに似てる<br><br>
                        A 似てません。
                    </div>
                </div>
                <div class="note-pink">
                    <div class="note-text">
                        Q 右を見続けているのがかわいい！<br>
                        A ぽんきち目線で、「右」と言っているところが素敵。
                    </div>
                </div>
                <div class="note-blue">
                    <div class="note-text">
                        Q まゆげがない方が、かわいくない？<br><br>
                        A いいえ。
                    </div>
                </div>
                <div class="note-pink">
                    <div class="note-text">
                        Q ぽんきちは何歳？？<br><br>
                        A 年齢の概念がないの
                    </div>
                </div>
                <div class="note-blue">
                    <div class="note-text">
                        Q　ぽんきち、<br>ウミブドウって何？<br><br>
                        A　思い出の味。
                    </div>
                </div>
                <div class="note-pink">
                    <div class="note-text-last">
                        Q 池袋で勧誘にあっているのを見かけた。目を見て断っていてカッコ良かった！<br>
                        A たまたま、右にいたので。
                    </div>
                </div>
                <div class="wave"><img src="img/wave-voice.png" alt=""></div>
            </div>
            <div class="oden"><img src="img/oden.gif" alt=""></div>
            <div class="utyuu"><img src="img/utyuu.PNG" alt=""></div>
        </section>
        <section id="game">
            <h1>ぽんきちたたきゲーム</h1>
            <h2>音が出るから注意してね！読み込みには2~3分かかるよ。<br>PCでのみオンラインランキング対応してるよ♪名前はアルファベットで入れてね</h2>
            <h3>ページをスクロールしたいときは、ゲーム画面の外にカーソルを持っていってください。</h3>
            <div class="sumaho-game">
                <h5>音が出るよ。読み込みには2~3分かかります。<br>ランキング登録はPCのみ対応です。<br>ページをスクロールしたいときは、<br>ゲーム画面以外をスワイプしてください。</h5>
            </div>
            <div class="game-area">
                <iframe width="960" height="600" src="ponmoguraBuild/index.html" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="wave"><img src="img/wave-game.png" alt=""></div>
        </section>
        <section id="goods">
            <h1>グッズ情報</h1>
            <div class="goods-area">
                <div class="left" id="g01">
                    <div class="gds-img"><img src="img/tshirts.PNG" alt=""></div>
                </div>
                <div class="right" id="g02">
                    <p>ぽんきちの服、パジャマになりがちとの声多数。しかし、一張羅としてしっかりと売り出していきたい。
                        長袖ver.も販売中！
                    </p>
                </div>
                <div class="left" id="g03">
                    <p>世はまさに、大エコバッグ時代！
                        ぽんきちグッズは、バッグが豊富。
                        軽くて丈夫でベリーキュートなぽんきちのバッグ、１つ持ってて損はないよ！
                    </p>
                </div>
                <div class="right" id="g04">
                    <div class="gds-img"><img src="img/bag.PNG" alt=""></div>
                </div>
                <div class="left" id="g05">
                    <div class="gds-img"><img src="img/hat.PNG" alt=""></div>
                </div>
                <div class="right" id="g06">
                    <p>帽子はかぶって、柄はかぶらず。ぽんきちのレア帽子で、あなただけのオシャレに
                        なんとも言えないぽんきちが良い味。</p>
                </div>
                <div class="left" id="g07">
                    <p>スケルトンなアイテム！いつもよりオシャレなぽんきちグラスで、おうちネオ居酒屋開店。<br>
                        涼しげなクリアポーチだけど、人に見せられないものは入れないように。</p>
                </div>
                <div class="right" id="g08">
                    <div class="gds-img"><img src="img/koppu.PNG" alt=""></div>
                </div>
            </div>
            <div class="btn-area">
                <a href="https://suzuri.jp/pon_k" target="_blank" class="btn btn-custom01">
                    <span class="btn-custom01-front">オンラインショップへ</span>
                    <i class="fas fa-angle-right fa-position-right"></i>
                </a>
            </div>
            <div class="wave"><img src="img/wave-goods.png" alt=""></div>
            <div class="ponpon"><img src="img/ponmimiyellow.gif" alt=""></div>
        </section>
        <section id="line">
            <h2><img src="img/line-title.png" alt=""></h2>
            <div class="slick">
                <img src="img/stmp01.png" alt="" width="240">
                <img src="img/stmp02.png" alt="" width="240">
                <img src="img/stmp03.png" alt="" width="240">
                <img src="img/stmp04.png" alt="" width="240">
                <img src="img/stmp05.png" alt="" width="240">
                <img src="img/stmp06.png" alt="" width="240">
                <img src="img/stmp07.png" alt="" width="240">
                <img src="img/stmp08.png" alt="" width="240">
                <img src="img/stmp09.png" alt="" width="240">
                <img src="img/stmp10.png" alt="" width="240">
                <img src="img/stmp11.png" alt="" width="240">

            </div>
            <h3>ぽんきちすたんぷ1・2<br>
                各120円（50コイン）</h3>
            <div class="btn-area02">
                <a href="https://store.line.me/stickershop/author/81248/ja" target="_blank" class="linebtn btn-custom02">
                    <span class="btn-custom02-front">詳しくみる</span>
                    <i class="fas fa-angle-right fa-position-right"></i>
                </a>
            </div>
            <!--  スマホ用のリンクボタン  -->
            <div class="btn-area02" id="smh">
                <a href="https://line.me/R/shop/sticker/author/81248" target="_blank" class="linebtn btn-custom02">
                    <span class="btn-custom02-front">詳しくみる</span>
                    <i class="fas fa-angle-right fa-position-right"></i>
                </a>
            </div>
        </section>
        <section id="maps">
            <div class="contents-map">
                <h1>コンテンツ一覧</h1>
                <div class="aboutbox01">
                    <p>
                        <ul>
                            <li>ぽんきちたたきゲーム</li>
                            <li>ぽんきち神社</li>
                            <li>日替わり占い</li>
                            <a href="/azagyo"><li>麻布餃子ルーレット</li></a>
                            <li>ぽんきちファンクラブ</li>
                        </ul>
                    </p>
                </div>
            </div>
            </section>
        <footer>
            <h4>\ シェアしてぽん！ /</h4>
            <div class="share">
                <div class="twitter"><a href="http://twitter.com/share?url=https://ponkichi.info&text=この世界にぽんきちを広める！ぽんきちサイト&hashtags=ぽんきち" target="_blank"><img src="img/twitterbutton.PNG" alt="" width="200"></a></div>
                <div class="pon"><img src="img/ponshare.gif" alt="" width="200"></div>
                <div class="fb"><a href="http://www.facebook.com/share.php?u=ponkichi.info" rel="nofollow" target="_blank"><img src="img/fbbutton.PNG" alt="" width="200"></a></div>
            </div>
            <h5>©️モロヘイヤ Mio Matsui</h5>
        </footer>
    </div>

    <!--slick-->
    <script>
        $(function() {
            $('.slick').slick({
                autoplay: true,
                autoplaySpeed: 1000,
                dots: true,
                arrows: true,
                slidesToShow: 4,
                slidesToScroll: 1,
                responsive: [{
                    breakpoint: 479,
                    settings: {
                        slidesToShow: 3,
                        dots: false,
                    }
                }]
            });


            $('a[href^=#]').click(function() {
                var speed = 500;
                var href = $(this).attr("href");
                var target = $(href == "#" || href == "" ? 'html' : href);
                var position = target.offset().top;
                $("html, body").animate({
                    scrollTop: position
                }, speed, "swing");
                return false;
            });

            // Nav Toggle Button
            $('#nav-toggle, #global-nav ul li a').click(function() {
                $header.toggleClass('open');
            });
        });

    </script>
</body>

</html>
