<!DOCTYPE html>
<html lang="ja">
 <head>
</head>
    <body>
        <div>
            <form action="/blogs" method="post">
                <input type="text" name="title" placeholder="タイトル"><br>
                <input type="text" name="body_text" placeholder="本文">
                <input type="submit" value="投稿">
            </form>
        </div>
    </body>
</html>