<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>ファンクラブ</title>
    </head>
    <body>
        <form action="/signin" method="post">
            <input name="email" placeholder="メアドを入力"><br>
            <input name="password" type="password" placeholder="パスワードを入力"><br>
            <input type="submit" value="ログイン">
        </form>
        <br>
        <a href="/signup">新規入会はこちら</a>
    </body>
</html>